Lead Reactivation Engine – Zerubabel.json
{
  "name": "Automated Lead Reactivation & Outreach",
  "nodes": [
    {
      "parameters": {"content": "### Phase 1: Import & Filter\n\nRead leads from Google Sheets and filter for reactivation candidates.", "height": 120, "width": 400},
      "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-400, -100], "id": "note-phase-1", "name": "Phase 1: Import & Filter"
    },
    {"parameters": {}, "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-400, 100], "id": "start", "name": "Start"},
    {"parameters": {"documentId": {"__rl": true, "value": "1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do", "mode": "list", "cachedResultName": "old_leads_50", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "Sheet1", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do/edit#gid=0"}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 3, "position": [-200, 100], "id": "read-leads", "name": "Read Leads (Google Sheets)", "credentials": {"googleSheetsOAuth2Api": {"id": "rlHUw391sihS60n8", "name": "Google Sheets account"}}},
    {"parameters": {"jsCode": "// Filter for: status=open, >90 days old, not contacted in last 30 days, not already re-engaged\nconst ninetyDaysAgo = $now.minus({ days: 90 });\nconst thirtyDaysAgo = $now.minus({ days: 30 });\nconst filtered = [];\nfor (const item of $input.all()) {\n  const lead = item.json;\n  if (lead.status !== 'open') continue;\n  const created = new Date(lead.date_created);\n  if (!(created < ninetyDaysAgo.toJSDate())) continue;\n  const lastContacted = lead.last_contacted ? new Date(lead.last_contacted) : null;\n  if (lastContacted && lastContacted >= thirtyDaysAgo.toJSDate()) continue;\n  if (lead.reengaged === 'Yes' || lead.reengaged === 'TRUE' || lead.reengaged === true) continue;\n  filtered.push(item);\n}\nreturn filtered;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 100], "id": "filter-leads", "name": "Filter for Prime Leads"},
    {"parameters": {"content": "### Phase 2: AI Outreach\n\nUse Gemini AI to compose a personalized email for each lead.", "height": 120, "width": 400}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [200, -100], "id": "note-phase-2", "name": "Phase 2: AI Outreach"},
    {"parameters": {"promptType": "define", "text": "={{ $json.first_name }}\n{{ $json.status }}\n{{ $json.date_created }}\n{{ $json.status }}\n{{ $json.last_contacted }}\n{{ $json.notes }}\n", "options": {"systemMessage": "You are an expert marketing assistant for a high-end woodworking company. Your task is to analyze data for a 'dead' lead and compose a personalized, warm, and compelling reactivation email.\n\n1. OUTPUT FORMAT: Respond with a single, valid JSON object and nothing else.\n2. JSON STRUCTURE: {subject, greeting, opening_line, value_proposition, call_to_action}.\n3. TONE: Warm, personal, professional, not pushy.\n4. PERSONALIZATION: Use 'notes' to infer interest.\n5. CONTENT: subject, greeting, opening_line, value_proposition, call_to_action."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2, "position": [200, 100], "id": "compose-email", "name": "Compose Email (Gemini AI)"},
    {"parameters": {"jsCode": "// Format AI output for email\nconst processedItems = [];\nfor (const item of $input.all()) {\n  const aiOutputString = item.json.output;\n  try {\n    const cleanedString = aiOutputString.replace(/^```json\\n|```$/g, '');\n    const aiData = JSON.parse(cleanedString);\n    const subject = aiData.subject;\n    const message = `${aiData.greeting}<br><br>${aiData.opening_line}<br><br>${aiData.value_proposition}<br><br>${aiData.call_to_action}`;\n    const closings = `<br><br>Best regards,<br><br>The [Woodworking Company] Team`;\n    item.json.emailSubject = subject;\n    item.json.emailMessage = message;\n    item.json.emailClosings = closings;\n    delete item.json.output;\n    processedItems.push(item);\n  } catch (error) { continue; }\n}\nreturn processedItems;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 100], "id": "format-email", "name": "Format AI Output for Email"},
    {"parameters": {"content": "### Phase 3: Email Send\n\nSend the personalized outreach email to each filtered lead.", "height": 120, "width": 400}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [600, -100], "id": "note-phase-3", "name": "Phase 3: Email Send"},
    {"parameters": {"sendTo": "={{ $json.email }}", "subject": "={{ $json.emailSubject }}", "message": "={{ $json.emailMessage }}\n\n{{ $json.emailClosings }}", "options": {"appendAttribution": false}}, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [600, 100], "id": "send-email", "name": "Send Outreach Email", "credentials": {"gmailOAuth2": {"id": "HlMfe7wkfcPlvmsq", "name": "Gmail account"}}},
    {"parameters": {"content": "### Phase 4: Status Update\n\nUpdate Google Sheets to log outreach status and timestamp.", "height": 120, "width": 400}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [800, -100], "id": "note-phase-4", "name": "Phase 4: Status Update"},
    {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do", "mode": "list", "cachedResultName": "old_leads_50", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do/edit?usp=drivesdk"}, "sheetName": {"__rl": true, "value": "Dashboard", "mode": "list", "cachedResultName": "Dashboard", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f6SOVI7gZ_qwglxks-Mp8tTO42fdREyMd0zrlHkm_Do/edit#gid=123456"}, "columns": {"mappingMode": "defineBelow", "value": {"lead_id": "={{ $json.lead_id }}", "status": "contacted", "outreach_timestamp": "={{ $now.toFormat('yyyy-MM-dd HH:mm') }}"}}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [800, 100], "id": "log-status", "name": "Log Outreach Status (Google Sheets)", "credentials": {"googleSheetsOAuth2Api": {"id": "rlHUw391sihS60n8", "name": "Google Sheets account"}}},
    {"parameters": {"content": "### Phase 5: Dashboard\n\nAppend outreach and reactivation data to a dashboard sheet for reporting.", "height": 120, "width": 400}, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1000, -100], "id": "note-phase-5", "name": "Phase 5: Dashboard"},
    {"parameters": {"resource": "chat.postMessage", "channel": "#workflow-alerts", "text": "🚨 Workflow Error: {{$json.error.message}}"}, "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [1200, 100], "id": "slack-error", "name": "Send Slack Error Alert", "credentials": {}} 
  ],
  "connections": {
    "Start": {"main": [[{"node": "Read Leads (Google Sheets)", "type": "main", "index": 0}]]},
    "Read Leads (Google Sheets)": {"main": [[{"node": "Filter for Prime Leads", "type": "main", "index": 0}]]},
    "Filter for Prime Leads": {"main": [[{"node": "Compose Email (Gemini AI)", "type": "main", "index": 0}]]},
    "Compose Email (Gemini AI)": {"main": [[{"node": "Format AI Output for Email", "type": "main", "index": 0}]]},
    "Format AI Output for Email": {"main": [[{"node": "Send Outreach Email", "type": "main", "index": 0}]]},
    "Send Outreach Email": {"main": [[{"node": "Log Outreach Status (Google Sheets)", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "2.0.0",
  "meta": {},
  "id": "UgtI4csCMeGPkaRW",
  "tags": []
}